language: python
os:
- linux
python:
- 3.6
- 3.5
env:
  global:
  - CC_TEST_REPORTER_ID=dbfa270b2ada12e39850e920a0dc3235eb6512c90b56d4a1ebeabd184d2cf914
install:
- python -m pip install virtualenv
- virtualenv test
- source test/bin/activate
- python setup.py install
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
script:
- python setup.py test
after_success:
- codecov -t eba8ff07-c98a-4805-96c0-33b1a815fe0b
- "./cc-test-reporter after-build"
before_deploy:
- pip install twine
deploy:
  provider: pypi
  user: 0h-n0
  password:
    secure: BfoloAT65A1CehAeOHDUY83CRtpEMt9nQGKTLRSIFViH05YK4kR6Ex5LFkG3dvlAif1y9U2MA9rMkjT9XMnrdM3YvksKXfBWPBdoxoxDX+1wJ+SFhc+WVUAqPDM7I3fCh61opysOmvTnOJ63jeUJbC01VaAChGwZJ5IK4uL33Cogu1if3CKr/zu0d/os0TmOGAVM6J5sFxFlagdBtdgC6zKf/WS8VlC8CPkUxECyKcFCTB1Ma+7QathnRBgmfY83D4qeZLCwynmSrbykD2V4dRKWE3ZYKWdfB5oPWIkyJqXdlfspIksVKqtIk0PEMSYlaK8erGZ/thhOVsVVnraGzIx6Addch3cpVCZqKBTVkdlvwqQJh9stkgiPN0/2j+igIuTE/CdOmGBUBflYDD+gjAOzffqOroziJ/Ns7XS9aP/KoCP7M4aLObUpQbDHt9bUTVh+U6R8OW+zCdqzzRpEWAA+0F3M65YOxPK+z2915andqdmNT25qn6JiXT37fvDj/0wsWG4+xk50ippXgRFT1bebOVawW7vIr2U838o8tbLYzUmoQ595Aeyn8f04iIJuOOIeD6HfqrycbnCgOztFrpp5T44cLaViDBH9PUT7VlqvcqtY1uqpdzE/AP3dZD86Ey/MaCqk1CL2fxq1JwEC/ih7Lzsh6oe1+yHfMx7tahY=
  on:
    repo: 0h-n0/simple-lock
    python: 3.6
    branch: master
  distributions: dists
  skip_cleanup: true
  skip_upload_docs: true
