language: python
os:
- linux
python:
- 3.6
env:
  global:
  - CC_TEST_REPORTER_ID=dbfa270b2ada12e39850e920a0dc3235eb6512c90b56d4a1ebeabd184d2cf914
install:
- python -m pip install virtualenv
- virtualenv test
- source test/bin/activate
- python setup.py install
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
script:
- python setup.py test
after_success:
- codecov -t eba8ff07-c98a-4805-96c0-33b1a815fe0b
- "./cc-test-reporter after-build"
before_deploy:
- pip install twine  

deploy:
  provider: pypi
  user: KojiOno
  password:
    secure: vJ0eSbTNa0rR0eXJyASCn3XY30M/7MWMuDm/lt2brVtlDmuQA+gpdpIql3fdpTVkLROV5jwVCZa/LjGeBLYEO9ALQHOc7h1glYupHLVqPlMYj+UMw79k6CHfCoJs2I5mAhF+24LWva20nqraQpaobCGFBvwKsSpt15n6idYVAdwFCkLom5wFlNUsDSaIaXONXtXnnCC0pw5bBpOKkppBXSYKr2T9oyis9MZkymJqC6UBMZSE+ezQEdnyJJ45CtO4G+5C5+gTNmIgzIPajOiKbN7ndxNiayjCdkaQ06IwhcjTUBQEiUJLiOjVxKRDq4XyrMYRyrS64NAkT
