language: python

os:
  - linux

python:
  - 3.6

install:
  - python -m pip install virtualenv
  - virtualenv test
  - source test/bin/activate
  - python setup.py install  

script:
  - python setup.py test

after_success:
  - codecov
